header {
    background-color: #f8f9fa;
    padding: 1rem;
}

nav a {
    margin-right: 1rem;
}

footer {
    background-color: #f8f9fa;
    padding: 1rem;
    text-align: center;
}
.grid-container {
    display: grid;
    grid-template-rows: auto 1fr auto; /* Main content, footer, footer height */
    /*min-height: 100vh; !* Ensure the container fills the viewport *!*/
}

.main-content {
    grid-row: 1; /* Place main content in the first row */
}

.footer {
    grid-row: 3; /* Place footer in the last row */
}

.message {
 color: green;
}
.error {
    color: red;
}